.RoomieCard{
  display:flex;
  align-items: center;
  color:black;
  justify-content: space-between;
  border-radius: 10px;
  background-color: #A3D9D3;
  padding: 15px;
}

.RoomieCard-header{
  display: flex;
  align-items: center;
  gap: 15px;
}

.RoomieCard-info{
  display: flex;
  flex-direction: column;
  
}


.RoomieCard-img{
  width: 180px;
  height: 150px;
  border-radius: 15%;
}

.RoomieCard-button{
  cursor: pointer;
  margin-left: 16px;
  border: 0;
  border-radius: 999px;
  padding: 6px 16px;
  font-weight: bold;
  border: 1px solid #000;
  width: 140px;
}

.RoomieCard-button.is-fav{
  background-color: #0092BC;
  color: whitesmoke;
  
}

.RoomieCard-button:hover{
  background-color: #B8D9CA;
  color: black;
}

